body{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}
#wrapper{
	width:100%;
	height:auto;
	background-color:#777777;
}
#header{
	width:100%;
	position:fixed;
}
#head{
	width:100%;
	height:60px;
	float:left;
	background-color:#176abd;
	color:#f5f5f5;
	font-family:sans-serif;
}
#head h1
{
	margin-top:10px;
	margin-left:10px;
}
#menu{
	width:100%;
	height:50px;
	background-color:#1976d2;
	float:left;
	font-family:Sans-serif;
}
#menu ul
{
	float:right;
	margin-top:0px;
}
#header ul a{
	float:left;
}
#header ul li{
	float:left;
	list-style-type:none;
	width:110px;
	text-align:center;
	padding-top:16px;
	padding-bottom:16px;
	font-family:sans-serif;
	color:white;
}
#header ul li:hover
{
	background-color:white;
	color:black;
}
#blank{
	width:100%px;
	height:110px;
}
#slider{
	float:left;
	width:100%;
	height:350px;
}
#slider1
{
	width:1000px;
	height:350px;
	background-image:url("../image/stopcorruption1.jpg");
	margin-left:auto;
	margin-right:auto;
}
#quote
{
	width:100%;
	height:110px;
	float:left;
	font-family:sans-serif;
	font-size:2em;
	text-align:center;
	opacity:0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition:opacity 1.0s linear 0s;
}

#copy
{
	width:100%;
	height:50px;
	float:left;
	background-color:#424144;
	color:white;
}
#copy p
{
	font-family:sans-serif;
	text-align:center;
}